{
    "presets": [
      "env",
      "stage-0",
      "react"
    ],
    "plugins": [
      "transform-runtime", 
      "transform-decorators-legacy", 
      "transform-class-properties"
    ],
    "comments": false,
    "env": {
      "test": {
        "presets": ["env", "stage-0"],
        "plugins": ["istanbul"]
      }
    }
  }
  